$color-primary: #4e61eb;
$color-primary-hover: #3b4ecc;
$color-text: #0f0f11;
$color-secondary: #89939a;
$color-surface: #fafbfc;
$color-white: #fff;
$color-elements: #e2e6e9;
$color-border: #e2e6e9;
$color-red: #eb5757;
$color-green: #27ae60;
$radius-sm: 8px;
$radius-md: 16px;
$radius-lg: 24px;
$radius-full: 9999px;
$font-main: 'Mont', sans-serif;
